* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.banner {
  padding: 1rem;
  background: #2196F3;
  color: white;
}

.banner__navbar {
  margin: 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__group {
  text: transparent;
  overflow: auto;
}

.nav-list {
  display: flex;
  margin: -0.5rem -1rem;
  justify-content: space-between;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid__item {
  margin: 3rem;
  min-width: 20rem;
  width: calc(100% / 2 - 6rem);
  flex-grow: 1;
  box-shadow: 4px 4px 3px #888888;
}

.content__top {
  position: relative;
  padding: 2.2rem;
  margin: 0;
  background: #FDCC52;
}

.content__top-text {
margin-left: 1rem;
}

.img {
  position: absolute;
  background: grey solid 2px;
  top: 0.8rem;
  left: -1.7rem;

}

.img2 {
  width: 3.5rem;
  border-radius: 50%;
  box-shadow: 4px 4px 3px #888888;
}

.content {

}

.top__box {
  position: absolute;
  align-items: center;
  padding: 0.7rem;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  background: #2196F3;
  box-shadow: 4px 4px 3px #888888;
}

.top__box-text {
  color: white;
  text-align: center;
}

.content__bottom {
  padding: 0.5rem 1rem;
  margin: 0;
}
