* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.banner {
  padding: 1rem;
  background: #00b2ff;
  color: white;
}

.banner__navbar {
  margin: 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__group {
  text: transparent;
  overflow: auto;
}

.nav-list {
  display: flex;
  margin: -0.5rem -1rem;
  justify-content: space-between;
}

.nav-list__item {
  margin: 0.5rem 1rem;
}

.section {
  padding: 1rem;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid__item {
  margin: 1rem;
  flex-basis: calc(100% / 2 - 2rem);
  flex-grow: 1;
  position: relative;

}

.img {
  position: relative;
  top: 4.1%;
  right: 12%;
  background: grey solid 2px;
  padding: 1rem;
}

.img2 {
  position: absolute;
  width: 5rem;
  border-radius: 50%;
  box-shadow: 4px 4px 3px #888888;
}

.content {
  width: 27rem;
  box-shadow: 4px 4px 3px #888888;
}

.content__top {
  padding: 3rem;
  margin: 0;
  background: #e3bb2f;
}

.top__box {
  position: absolute;
  padding: 0.75rem;
  margin: 0;
  background: #00a2fe;
  box-shadow: 4px 4px 3px #888888;
  width: 10rem;
  height: 2.5rem;
  top: 2.5%;
  left: 26.5%;
}

.top__box-text {
  color: white;
  text-align: center;
}

.content__top-text {
  float: left;
}

.content__bottom {
  padding: 0.5rem 1rem;
  margin: 0;
}
